.dashboard {
   width: 1013px;
   height: 660px;
   /* background-color: rgb(255, 255, 255); */
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.ds-1 {
   height: 66px;
   width: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.ds-2 {
   height: 488px;
   width: 100%;

   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.ds-4 {
   height: 100%;
   width: 252px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.display {
   display: flex;
   flex-direction: row;
   align-items: center;
   border: 1px solid #a0a096;

}

.txt {
   color: #2F2F2F;
   font-family: Inria Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 700;
   line-height: 17px;
   /* 141.667% */
   letter-spacing: 0.24px;
}

/* status */
.Status1 {
   width: 237px;
   height: 100%;
   background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, white 0%, white 100%);
   border-radius: 10px;
}

.st-icon {
   height: 40px;
   width: 40px;
   margin-right: 5px;
   margin-left: 7px;
   background-image: var(--profile-icon);
}


.Status2 {
   width: 238px;
   height: 100%;
   background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, white 0%, white 100%);
   border-radius: 10px;
}

.st-icon-2 {
   height: 45px;
   width: 45px;
   margin-right: 8px;
   margin-left: 7px;
   background-image: var(--hat-s);
}


.Status3 {
   width: 129px;
   height: 100%;
   background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, white 0%, white 100%);
   border-radius: 10px;
}

.st-icon-3 {
   height: 30px;
   width: 30px;
   margin-right: 8px;
   margin-left: 7px;
   background-image: var(--rupee-y);
}

.Status4 {
   width: 133px;
   height: 100%;
   background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, white 0%, white 100%);
   border-radius: 10px;
}

.st-icon-4 {
   height: 40px;
   width: 40px;
   margin-right: 8px;
   margin-left: 7px;
   background-image: var(--rupee-r);
}

.Status5 {
   width: 195px;
   height: 100%;
   background: linear-gradient(0deg, white 0%, white 100%), linear-gradient(0deg, white 0%, white 100%);
   border-radius: 10px;
}

.st-icon-5 {
   height: 40px;
   width: 40px;
   margin-right: 8px;
   margin-left: 7px;
   background-image: var(--score-s);
}

/* table------------ */

.ds-3 {
   height: 100%;
   width: 740px;
   border-radius: 11.5px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.ds-5 {
   width: 100%;
   height: 270px;
   border-radius: 11px;
   border: 1.5px solid black;
}

.thead {
   height: 50px;
   width: 100%;
   background-color: rgb(58, 58, 58);

   border-top-right-radius: 10px;
   border-top-left-radius: 10px;

   display: flex;
   flex-direction: row;
   align-items: center;
}

.cl-1 {
   height: 100%;
   color: white;
   font-size: 12px;
   font-family: 'Inria Sans';
   font-weight: 400;

   word-wrap: break-word;

   border-right: 1.5px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.ds-6 {
   height: 219px;
   width: 100%;

   border-radius: 0 0 10px 10px;
   overflow: auto;
}

#t-row::-webkit-scrollbar {
   display: none;
}

.ds-6-row-1 {
   border-bottom: 1.5px solid black;
   background-color: rgb(255, 255, 255);
   display: flex;
   flex-direction: row;
   align-items: center;
}

.row-1 {
   overflow: hidden;
   height: 50px;
   color: rgb(18, 18, 18);
   font-size: 12px;
   font-family: 'Inria Sans';
   font-weight: 400;

   word-wrap: break-word;

   border-right: 1.5px solid black;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.ds-6-row-1:hover {
   background-color: rgb(160, 160, 160);
}

.notifi-1 {
   width: 100%;
   height: 180px;
   background-color: rgb(0, 0, 0);
   border: 1.5px solid black;
   border-radius: 10px;
}

.notifi-2 {
   width: 100%;
   height: 22px;
   background-color: black;

   color: #FFE500;
   font-family: Inter;
   font-size: 11px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
   letter-spacing: 0.55px;
   border-radius: 8px 8px 0 0;

   display: flex;
   align-items: center;
}

.notifi-3 {
   width: 100%;
   height: 158px;
   background-color: aliceblue;
   border-bottom-left-radius: 9px;
   border-bottom-right-radius: 9px;

   overflow: auto;
}

.notifi-3::-webkit-scrollbar {
   display: none;
}

.notifi-row {
   display: flex;
   flex-direction: row;
   background-color: #FFE500;
   overflow: hidden;
   width: 99%;
   padding-right: 1%;

   border-bottom: 1px solid rgb(255, 255, 255);


   cursor: pointer;
}

.notifi-row-color {
   background-color: rgb(255, 255, 255);
   color: black;

   border-bottom: 1px solid rgb(146, 146, 146);
}

.notifi-icon {
   height: 20px;
   width: 20px;

   background-size: cover;
   /* or 'contain' if you prefer */
   background-repeat: no-repeat;
   background-position: center center;

   display: flex;
   align-items: center;
}

.notifi-icon-img-d {
   background-image: var(--notifi-d);
}

.notifi-icon-img-h {
   background-image: var(--notifi-h);
}

.notifi-text {
   color: #F00;
   font-family: Inria Sans;
   font-size: 11px;
   font-style: normal;
   font-weight: 600;
   line-height: normal;
   letter-spacing: 0.55px;
   display: flex;
   align-items: center;
}

.notifi-row-mess {
   color: rgb(87, 87, 87);
   font-weight: 600;
}

.ds-hex {
   width: 237px;
   height: 198px;

   border-radius: 10px;
   background: #FFF;
   border: 1px solid #a0a096;

}

.ds-cal {
   width: 238px;
   height: 270px;

   border-radius: 10px;
   /* border: 2px solid #000; */
   /* background: #A4E9FF; */
   display: flex;

}

.ag-chart-wrapper canvas {
   border-radius: 10px;
}