.course {
   width: 1013px;
   height: 660px;
   /* background-color: rgb(255, 255, 255); */
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

/* course studetn detail panel*/
.stc {
   background-color: #fcfcfc;
   border: 1px solid;
   border-color: #b6b6b6;
   border-radius: 10px;
   height: 94px;
   position: relative;
   width: 99.8%;
   display: flex;
   flex-direction: row;
   align-items: center;
   /* padding-left: 16px; */
   justify-content: space-between;

}

.stc p {
   margin: 0;
}

.stc .pic {
   background-color: #000000;
   border-radius: 32.5px;
   height: 65px;
   width: 65px;
   margin-left: 16px;
}

.stc .stc-name {
   font-family: "Inria Sans";
   font-size: 14px;
   font-weight: 600;
   height: 70px;
   letter-spacing: 0.84px;
   line-height: 20px;
   width: 272px;
   color: #1f1f1f;
}

.stc .stc-course {
   color: transparent;
   font-family: "Inria Sans";
   font-size: 14px;
   font-weight: 600;
   height: 84px;

   letter-spacing: 0.84px;
   line-height: 21px;

   width: 280px;
}

.stc .text-wrapper {
   color: #494949;
   font-size: 12px;
}

.stc .span {
   color: #1f1f1f;
}

.stc .total-sem {
   color: transparent;
   font-family: "Inria Sans";
   font-size: 14px;
   font-weight: 600;
   height: 84px;

   letter-spacing: 0.84px;
   line-height: 21px;

   width: 130px;
}

.stc .text-wrapper-2 {
   color: #494949;
   font-size: 12px;
}

.stc .total-subject {
   color: transparent;
   font-family: "Inria Sans";
   font-size: 14px;
   font-weight: 600;
   height: 84px;

   letter-spacing: 0.84px;
   line-height: 21px;

   width: 159px;
}

.stc .text-wrapper-3 {
   color: #494949;
   font-size: 12px;
}

/* block a course detail panel a.1*/
.course-panel {
   width: 100%;
   height: 466px;
   /* background-color: rgb(255, 247, 105); */
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.course-panel-1 {
   height: 100%;
   width: 187px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

}

.cors-list {
   height: 175px;
   width: 187px;
   background-color: #ffffff;
   border: 1px solid;
   border-color: #000000;
   border-radius: 10px;
   height: 175px;

   width: 187px;
}

.cors-list-2 {

   color: #ffffff;
   font-family: "Inter-SemiBold", Helvetica;
   font-size: 14px;
   font-weight: 600;
   height: 27px;

   letter-spacing: 0.84px;


   text-align: center;

   width: 100%;

   background-color: #000000;

   border-radius: 9px 9px 0 0;
   margin: 0;
   padding-top: 10px;
}


/* block a.2 course Faculty */

.cors-faculty {

   height: 268px;
   width: 186px;

   background-color: #ffffff;
   border: 1px solid;
   border-color: #c5c5c5;
   border-radius: 10px;


}


/* componenet list items  */

.course-list-name {
   display: flex;
   width: 187px;
   height: 42px;
   flex-direction: column;
   justify-content: center;
   background: #dbdbdb;
}

.course-list-name-1 {
   color: #000;
   text-align: center;
   font-family: "Inria Sans";
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 21px;
   /* 150% */
   letter-spacing: 0.84px;
}

.cors-fact-name {
   margin-left: 4px;
   color: #000;
   font-family: "Inria Sans";
   font-size: 11px;
   font-style: normal;
   font-weight: 600;
   line-height: 11px;
   /* 122.222% */
   letter-spacing: 0.54px;
}


/* time table panel */
.course-time-table {
   width: 790px;
   height: 100%;

   border-radius: 10px;
   /* border: 1px solid #000; */
   background: #060606;
}

.ctt-n {
   color: #FFD600;
   text-align: center;
   font-family: "Inria Sans";
   font-size: 14px;
   font-style: normal;
   font-weight: 600;
   line-height: 21px;
   /* 150% */
   letter-spacing: 0.84px;
   margin: 2px;
}

/* table panel */

.course-time-table table {

   background-color: #f0f0f0;
   width: 100%;
   height: 440px;
   border-radius: 0 0 10px 10px;
   font-family: "Inria Sans";

   border-spacing: 0px;

}

.course-time-table th {
   background: #313132;
}

.course-time-table th,
td {
   border: 1px solid #000000;
   text-align: left;
   /* padding: 8px; */
   padding-left: 2px;
}

.course-time-table td:first-child {
   background: #313132;
   /* Red background for the first column */
   color: #ffffff;
   overflow-x: hidden;
   /* White text for better contrast */
}

.course-time-table th {
   background: #313132;
   color: white;
   font-weight: 300;
   /* Gray background for header cells */
}

.course-time-table tr:nth-child(even) {
   background-color: #ffffff;
   /* White background for even rows */
}

.course-time-table tbody {
   border-radius: 0 0 10px 10px;
}


.course-faculty-list-a {
   height: 230px;
   overflow: auto;
}

.course-faculty-list-a::-webkit-scrollbar {
   display: none;
}