.Nav {
   width: 187px;
   height: 660px;
   background: #000454;
   border-radius: 10px;

   display: inline-flex;
   position: relative;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
}

.navauthset {
   display: none;
}

.Frame3 {
   width: 150px;
   height: 72px;
   margin: 2px 18px 12px 18px;
   /* top right bottom left */
   background-image: var(--kit-ogo);
   background-size: contain;
   /* or 'cover' depending on your preference */
   background-repeat: no-repeat;
   background-position: center;
   border-bottom: 0.50px white solid;
}

.nav-c1 {
   height: 230px;
   width: auto;

   display: flex;
   flex-direction: column;

   justify-content: space-between;

}

.nav-c2 {
   margin-top: 245px;
   width: auto;
   height: 84px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;

   align-self: center;

}

/* ------------ */
.nav-icon {
   fill: #ffffff;
}

.nav-icon:hover {
   fill: #000454;
}

.Rectangle5 {
   margin: 0 20px 0 20px;
   width: 146px;
   height: 36px;
   background: rgba(168, 0, 0, 0);
   border-radius: 8px;

   display: flex;
   flex-direction: row;
   align-items: center;
   cursor: pointer;
}

.Rectangle5:hover {
   background-color: #ffffff;
   color: #000454;
}

.nav-txt {
   font-size: 14px;
   font-family: 'Inria Sans';
   font-weight: 700;
   line-height: 17px;
   letter-spacing: 0.84px;
   word-wrap: break-word;
   margin-left: 18px;
   color: #ffffff;
   text-decoration: none;
}

.nav-txt:hover {
   color: #000454;
}



.MaterialSymbolsDashboard {
   width: 25px;
   height: 25px;
   position: relative;
   background-image: var(--dashboard-icon);
   margin-left: 7px;
   margin-right: 18px;
}

.Rectangle5:hover .MaterialSymbolsDashboard {

   background-image: var(--dashboard-H);

}

.active-link {

   /* background-image: var(--dashboard-H); */
   background-color: aqua;

}



.IconParkDegreeHat {
   width: 25px;
   height: 25px;
   background-image: var(--hat-icon);
   margin-left: 7px;
   margin-right: 18px;
}

.Rectangle5:hover .IconParkDegreeHat {

   background-image: var(--hat-H);

}

.HealthiconsIExamMultipleChoice {
   width: 25px;
   height: 25px;
   position: relative;
   background-image: var(--exam-icon);
   margin-left: 7px;
   margin-right: 18px;
}

.Rectangle5:hover .HealthiconsIExamMultipleChoice {

   background-image: var(--exam-H);

}


.FaSolidUserFriends {
   width: 25px;
   height: 25px;
   position: relative;
   background-image: var(--faculty-icon);
   margin-left: 7px;
   margin-right: 18px;
}

.Rectangle5:hover .FaSolidUserFriends {

   background-image: var(--faculty-H);

}


.Group {
   width: 25px;
   height: 25px;
   position: relative;
   background-image: var(--group-icon);
   margin-left: 7px;
   margin-right: 18px;
}

.Rectangle5:hover .Group {

   background-image: var(--group-H);

}

.MajesticonsLogout {
   width: 25px;
   height: 25px;
   position: relative;
   background-image: var(--logout-icon);
   margin-left: 7px;
   margin-right: 18px;
}

.Rectangle5:hover .MajesticonsLogout {

   background-image: var(--logout-H);

}


.IconParkSolidSettingTwo {
   width: 24px;
   height: 24px;
   position: relative;
   background-image: var(--setting-icon);
   margin-left: 7px;
   margin-right: 18px;
}

.Rectangle5:hover .IconParkSolidSettingTwo {

   background-image: var(--setting-H);

}

/* .active {
   background-color: white;
   color: #000454;
} */